packages:
  yum:
    gdal-devel: []
    geos-devel: []
    proj-devel: []
    libffi-devel: []
    openssl-devel: []

commands:
  01_install_gdal:
    command: "yum install -y gdal gdal-python3"
  02_create_directories:
    command: "mkdir -p /opt/python/current/app/instance/uploads"
  03_set_permissions:
    command: "chmod 755 /opt/python/current/app/instance"